<div ng-mousemove="make_consistent()" ng-focus="make_consistent()">
    <div ng-show="isLoggedIn" id="home-tab-content">
        <div style="border-bottom: 1px solid;">
            <div id="main-header-abbr">Artisan-Hub.</div>
            <div id="home-tabs">
            	<ul class="nav nav-pills">
            		<li ng-class="{ active: isSet(1) }">
            			<a href ng-click="setTab(1)"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i><p>Dashboard</p></a>
            		</li>
            		<li ng-class="{ active: isSet(2) }">
            			<a href ng-click="setTab(2)"><i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i><p>Announcements</p></a>
            		</li>
            		<li ng-class="{ active: isSet(3) }">
            			<a href ng-click="setTab(3)"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i><p>Settings</p></a>
            		</li>
            	</ul>
            </div>
        </div>
    	<div ng-show="isSet(2)" id="tab-announcements">
    		<div class="tab-content">
    			<p>What would you like to announce?</p>
    			<textarea ng-model="announcementText"></textarea>
    			<p>Where do you want to post?</p>
    			<div class="checkbox-div"><input type="checkbox" ng-click="fbClick()"> Facebook</div>
    			<div class="checkbox-div"><input type="checkbox" ng-click="twitterClick()"> Twitter</div>
    			<button id="post-announcement" type="button" class="btn"
                    ng-click="postAnnouncement()">Post</button>
    		</div>
    	</div>
    	<div ng-show="isSet(3)" id="tab-settings">
            <div class="tab-content">
                <div class="user-profile">
                    <p class="section-header">Etsy Profile</p><br />
                	<div class="section">
                        <img class="profile-img" ng-src="{{user_data.results[0].image_url_75x75}}" />
                        <div class="profile-info">
                    		<p style="font-weight: 700; font-size: 1.5em;">{{user_data.results[0].first_name}} {{user_data.results[0].last_name}}</p>
                    		<p>{{user_data.results[0].login_name}}</p>
                    		<p>{{user_data.results[0].gender}}</p>
                        </div>
                    </div>
                </div>
                <div class="social-media-connect">
                    <p class="section-header">Social Media Connections</p><br />
                    <div class="split-container">
                        <div class="split-first">
                            <img class="logo-img" src="/static/img/facebook.png" />
                            <button id="facebook-connect" ng-click="connectToFacebook()">Connect with Facebook</button>
                        </div>
                        <div class="split-second">
                            <img class="logo-img" src="/static/img/twitter.png" />
                            <button id="login-with-twitter" ng-click="loginTwitterButtonPress()">
                                Login with Twitter
                            </button>
                            <p>Enter PIN to verify Twitter Account</p>
                            <textarea ng-model="verifyTwitterText"></textarea>
                            <button id="verify-twitter" ng-click="verifyTwitter()">Verify Twitter</button>
                        </div>
                    </div>
                </div>
        		<button id="logout-button" ng-click="logout()" type="button" class="btn btn-primary">Logout</button>
            </div>
    	</div>

    </div>


    <div ng-show="isSet(1) && finished_loading && isLoggedIn" class="row" ng-mousemove="make_consistent()" ng-focus="make_consistent()">

        <div>
            <i ng-click="toggleListView()" class="glyphicon glyphicon-th-list">Toggle</i>
        </div>

        <form>
            <div class="form-group" style="margin-left: 20%; margin-left:20%">
                <input class="form-control input-xxlarge" type="text" ng-model="search" placeholder="Filter">
            </div>
        </form>
        <!--<nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" ng-mouseover="make_consistent()"
            placeholder="Search...">
        </nit-advanced-searchbox>-->



        <div ng-show="!listView" ng-repeat="listing in shop_listings.results" class="col-md-8 fader">
            <div>
                <div class="thumbnail clearfix">
                    <img src="{{thumbnails[listing.listing_id][0].url_170x135}}" class="pull-left">
                    <div class="caption" class="pull-right">
                        <h2>{{listing.title}}</h2>
                        <h5>${{listing.price}}</h5>

                        <div ng-show="transactions[listing.listing_id]" style="margin-top: 20px">
                            <table class="table table-hover">
                                <tr style="width: 100%">
                                    <th>Buyer</th>
                                    <th>Order Date</th>
                                    <th>Cost</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                </tr>
                                <tr ng-show="transaction" ng-repeat="transaction in transactions[listing.listing_id] | filter:search | orderBy : 'creation_tsz'" ng-click="expand_order_details(transaction)">
                                    <td>
                                        <a href="mailto:{{emails[transaction.buyer_user_id]}}">
                                            {{transaction.buyer_name || buyers[transaction.buyer_user_id][0].login_name}}
                                        </a>
                                    </td>
                                    <td>{{transaction.time}}</td>
                                    <td>${{calculate_cost(transaction.price, transaction.quantity)}}</td>
                                    <td>{{transaction.quantity}}</td>
                                    <td>{{transaction.status}}</td>
                                </tr>
                            </table>
                        </div>

                        <div ng-hide="transactions[listing.listing_id]">
                            No transactions found.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="!listView" class="fader">
            <br><br><br>
            <table class="table table-hover">
                <tr style="width: 100%">
                    <th>Buyer</th>
                    <th>Order Date</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
                <tr ng-show="transaction" ng-repeat="transaction in transactionsListView | filter:search | orderBy : 'creation_tsz'" ng-click="expand_order_details(transaction)">
                    <td>
                        <a href="mailto:{{emails[transaction.buyer_user_id]}}">
                            {{transaction.buyer_name || buyers[transaction.buyer_user_id][0].login_name}}
                        </a>
                    </td>
                    <td>{{transaction.time}}</td>
                    <td>${{transaction.cost}}</td>
                    <td>{{transaction.quantity}}</td>
                    <td>{{transaction.status}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="isSet(1) && !finished_loading && isLoggedIn" class="row" style="margin: auto; padding-left: 50%; padding-top:5%">
        <div class="loader"></div>
    </div>
</div>
