<div ng-show="isLoggedIn" id="home-tab-content">
    <div id="home-tabs">
    	<ul class="nav nav-pills">
    		<li ng-class="{ active: isSet(1) }">
    			<a href ng-click="setTab(1)">Dashboard</a>
    		</li>
    		<li ng-class="{ active: isSet(2) }">
    			<a href ng-click="setTab(2)">Announcements</a>
    		</li>
    		<li ng-class="{ active: isSet(3) }">
    			<a href ng-click="setTab(3)">Settings</a>
    		</li>
    	</ul>
    </div>

	<div ng-show="isSet(2)" id="tab-announcements">
		<div class="tab-content">
			<p>What would you like to announce?</p>
			<textarea></textarea>
			<p>Where do you want to post?</p>
			<div class="checkbox-div"><input type="checkbox"> Email</div>
			<div class="checkbox-div"><input type="checkbox"> Facebook</div>
			<div class="checkbox-div"><input type="checkbox"> Twitter</div>
			<button id="post-announcement" type="button" class="btn btn-success">Post</button>
		</div>

		<p>Tab #2</p>
	</div>
	<div ng-show="isSet(3)" id="tab-settings">
		<img ng-src="{{ user_data.results[0].image_url_75x75 }}" />
		<div class="profile-info">
			<p>{{user_data.results[0].first_name}} {{user_data.results[0].last_name}}</p>
			<p>{{user_data.results[0].login_name}}</p>
			<p>{{user_data.results[0].gender}}</p>
		</div>
		<button id="logout-button" ng-click="logout()" type="button" class="btn btn-primary">Logout</button>
	</div>
</div>


<div ng-show="isSet(1) && finished_loading && isLoggedIn" class="row">
    <div ng-repeat="listing in shop_listings.results" class="col-md-8">
        <div class="thumbnail clearfix">
            <img src="{{thumbnails[listing.listing_id][0].url_170x135}}" class="pull-left">
            <div class="caption" class="pull-right">
                <h2>{{listing.title}}</h2>
                <h5>${{listing.price}}</h5>

                <div ng-show="transactions[listing.listing_id]">
                    <table class="table table-hover" style="margin-top: 20px;">
                        <tr>
                            <th>Buyer</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Order Date</th>
                        </tr>
                        <tr ng-show="transaction" ng-repeat="transaction in transactions[listing.listing_id]">
                            <td>{{buyers[transaction.buyer_user_id][0].login_name}}</td>
                            <td>{{transaction.price}}</td>
                            <td>{{transaction.quantity}}</td>
                            <td>{{epoch_seconds_to_local_time(transaction.creation_tsz)}}</td>
                        </tr>
                    </table>
                </div>

                <div ng-hide="transactions[listing.listing_id]">
                    No transactions found.
                </div>
            </div>
        </div>
    </div>
</div>
