
    <script src="/static/js/typed.js"></script>
    <script src="/static/js/type.js"></script>
<div>
    <!--<button style="background-color: transparent" ng-click="toggleView($event)" ></button> testing diff views -->

    <div ng-show="!isLoggedIn">
        <div id="login-content-box">
        	<div id="main-header">Artisan-Hub.</div>
            <script></script>
                <span class="subtitle"> Artisan-Hub is an app for Etsy sellers created for seamless Etsy store transaction and communication management.</span  >
            <div>

        	    <button id="login-with-etsy" ng-click="loginButtonPress()" style="margin-top: 25px;"s>
                    <div ng-show="!isLoading">
                        Login with <span id="etsy-text">Etsy</span>
                    </div>

                    <div ng-hide="!isLoading" style="width: 100%; padding-left: 40%">
                        <div class="loader"></div>
                    </div>
                </button>
            </div>
            <div>

            </div>

        </div>
    </div>

    <div ng-hide="!isLoggedIn">

    </div>
</div>
