
.masthead {
	padding: 30px 0 30px;
	margin-bottom: 0;
}

.masthead h1 {
	font-size: 75px;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
}

.header-section {
	padding: 50px 0;
	background: #222;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	color: #FFF;
}

.header-row {
	width: 960px;
	margin: auto;
}

.header-push {
	height: 250px;
}

.main {
	padding-top: 20px;
	min-height: 370px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.flashes {
	list-style-type: none;
	margin-left: 0;
}
#content {
	position: relative;
}

/* Login Page rules */

#login-content-box {

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 50px;
}
#login-content-box #main-header {
	font-family: "Roboto Condensed", sans-serif;
	color: #999;
	font-size: 5em;
	margin: 10px;
	margin-bottom: 50px;
}
#login-content-box button#login-with-etsy {
	padding: 20px 50px;
	font-family: "Roboto-Condensed", sans-serif;
	background: none;
	border: 1px solid;
	border-radius: 3px;
	font-size: 1.2em;
}
#login-content-box button#login-with-etsy:hover {
	background-color: rgba(235,109,32, 0.1);
}
#etsy-text {
	color: #eb6d20;
	font-family: serif;
	font-size: 1.5em;
}

/** Home Page rules */

#home-tabs {
	position: absolute;
	bottom: -15px;
	/*border: 1px solid;*/
	width: 40%;
	left: 25%;
}
#home-tabs ul {
	width: 100%;
}
#home-tabs ul li {
	width: 33%;
	text-align: center;
	padding: 20px 0px;
}
#home-tabs ul li a {
	padding: 20px 0px;
}
#home-tabs * {
	/*border: 1px solid;*/
}